snippet date
`!v strftime("%Y-%m-%d")`
endsnippet

snippet date_full
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet date_day "date day"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet date_time "date time"
`!v strftime("%H:%M:%S")`
endsnippet

