[submodule "bundle/vim-delimitMate"]
	path = bundle/vim-delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
