[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-voom"]
	path = bundle/vim-voom
	url = https://github.com/vim-scripts/VOoM.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-pydoc"]
	path = bundle/vim-pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "bundle/targbar"]
	path = bundle/targbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/fisa-vim-colorscheme"]
	path = bundle/fisa-vim-colorscheme
	url = https://github.com/fisadev/fisa-vim-colorscheme.git
[submodule "bundle/tabman"]
	path = bundle/tabman
	url = https://github.com/kien/tabman.vim.git
[submodule "bundle/fixed-task-list"]
	path = bundle/fixed-task-list
	url = https://github.com/fisadev/FixedTaskList.vim.git
[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = https://github.com/rosenfeld/conque-term.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/Decho"]
	path = bundle/Decho
	url = https://github.com/vim-scripts/Decho.git
[submodule "bundle/reload"]
	path = bundle/reload
	url = https://github.com/xolox/vim-reload.git
[submodule "bundle/vim-quit-if-only-quickfix-buffer-left"]
	path = bundle/vim-quit-if-only-quickfix-buffer-left
	url = https://github.com/now/vim-quit-if-only-quickfix-buffer-left.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
