[submodule "bundle/vim-delimitMate"]
	path = bundle/vim-delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/vim-neocomplcache"]
	path = bundle/vim-neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/vim-neocomplcache-snippets-complete"]
	path = bundle/vim-neocomplcache-snippets-complete
	url = https://github.com/Shougo/neocomplcache-snippets-complete.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-voom"]
	path = bundle/vim-voom
	url = https://github.com/vim-scripts/VOoM.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
[submodule "bundle/vim-tagexplorer"]
	path = bundle/vim-tagexplorer
	url = https://github.com/vim-scripts/tagexplorer.vim.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-pydoc"]
	path = bundle/vim-pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/vim-unite"]
	path = bundle/vim-unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
